.App {
  text-align: center;
}

body {
  background-color: #7b899f80;
  background-size:cover; 
  background-image: url('./assets/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.price, .type, .btn_store, .text_description, h1, .return, .basket_price, .quantity, .checkout {
  font-family: 'Comfortaa', sans-serif;
}

/* Class & Classes */

  .icon {
  width: 300px;
  height: 200px;
  align-self: center;
  border-radius:30px;
  margin: 15px;
}
  .container_type_of_products {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  text-align: center;
}

  .type_of_products {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 440px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.539);
  border-radius: 10px;
}

  .btn_store {
  border-radius: 30px;
  cursor: pointer;
  background-color: rgba(234, 199, 199, 0.919); 
  padding: 10px;
  font-size: 15px;
}

  .categoryButtonSelected {
background-color: rgba(234, 199, 199, 0.919);
border-radius: 10px;    
}

.categoryButton:hover {    
  background-color: rgb(207, 205, 212);
  border-radius: 10px;
}

.categoryButton {   
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  font-family: 'Comfortaa', sans-serif;
}

/* AllCategories */

.container_allCategories {
  display: flex;
  justify-content: center;
}

/* Cart */

.cart {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket_price {
  background-color: rgba(234, 199, 199, 0.919);
  padding: 5px;
  border-radius: 10px;
}

.icon_basket {
  cursor: pointer;
}

/* Modal */

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a49;
  width: 100%;
  min-height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: all;
  overflow: scroll;
}

/* CartItem */

.cart_icon {
  width: 20px;
  margin-left: 50px;
}

.cart_item {
  display: flex;
  background-color: rgba(234, 199, 199, 0.926);
  border-radius: 15px;
  margin: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 230px;
  padding: 15px;
}

.cart_price_item {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 230px;
  padding: 15px;
}

.cart_description {
  font-size: 12px;
}

.cart_type {
  font-size: 16px;
}

/* Content */

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #393636;
  margin: auto;
  font-size: 16px;
  width: 50%;
  font-family: 'Comfortaa', sans-serif;
  border-radius: 15px;
}

.title_cart, .total_price {
  color: rgba(234, 199, 199, 0.919);
}

.return {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.539);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.checkout {
  background-color:rgba(234, 199, 199, 0.919);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.thanks {
  color: white;
  text-align: center;
  padding: 20px;
  margin: 10px;
  display: none;
}
.showThanks {
  display: block;
}

/* ChangeQuantity */

.btn_quantity {
  border: none;
  font-size: 25px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.539);
  cursor: pointer;
}
.quantity {
  font-size: 17px;
}

@media all and (max-width: 820px) {

.container_allCategories {
  font-size: 10px;
}

.icon {
  width: 200px;
  height: 140px;
}

.type_of_products {
  width: 340px;
  height: 470px;
  
}

.modal_content {
  font-size: 16px;
  width: 60%;
  height: 700px;
  overflow: scroll;
}

.cart_item {
  width: 400px;
}

.return {
  font-size: 12px;
}

.checkout {
  font-size: 12px;
}

}

@media all and (max-width: 500px) {

  .cart_item {
    width: 360px;
  }

  .modal_content {
    font-size: 16px;
    width: 70%;
    height: 700px;
    overflow: scroll; 
  }

  h1 {
    font-size: 20px;
  }

  .categoryButton {
    font-size: 8px;
    margin: 3px;
    padding: 3px;
  }

  .cart {
    margin-left: 10px;
  }

  .type_of_products {
    width: 300px;
    font-size: 12px;
    height: 380px;
  }
  .basket {
    width: 25px;
  }

  .basket_price {
    padding: 2px;
    font-size: 10px;
  }

  .btn_store {
    padding: 5px;
    font-size: 12px;
  }

  .cart_item {
    width: 200px;
    font-size: 10px;
  }

  .return {
    font-size: 10px;
  }
  
  .checkout {
    font-size: 10px;
  }

  .item {
    width: 180px;
    padding: 10px;
  }
  
  .cart_price_item {
    width: 150px;
    padding: 10px;
  }
  
  .cart_description {
    font-size: 8px;
  }
  
  .cart_type {
    font-size: 12px;
  }

  .cart_item {
    width: 280px;
    font-size: 10px;
  }

  .return {
    font-size: 8px;
  }
  
  .checkout {
    font-size: 8px;
  }

}




